.incorrect {
    color: red;
}

.times-table {
    height: 250px;
    overflow-y: auto;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 165, 171);
    color: rgb(56, 56, 56);
    margin-top: 20px;
    margin-bottom: 5px;
}

td {
    padding: 10px;
}

body {
    text-align: center;
    background-color: rgb(249, 219, 189)
}

.intro-text {
    margin-top: 250px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.new-record {
    color: rgb(115, 83, 186)
}

.source-link {
    color: rgb(80, 128, 142)
}