.incorrect {
    color: red;
}

.times_table {
    height: 250px;
    overflow-y: auto;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 165, 171);
    color: rgb(56, 56, 56);
    margin-top: 20px;
}

td {
    padding: 10px;
}

body {
    text-align: center;
    background-color: rgb(249, 219, 189)
}

.intro-text {
    margin-top: 250px;
}